GATEWAY_APP_PORT=3000
GATEWAY_APP_URL=http://localhost:3000

USER_APP_PORT=3001
USER_APP_URL=http://localhost:3001

REDIS_URL=redis://redis:6379

JWT_SECRET_KEY=jwt_secret_key
JWT_EXPIRY_TIME='60s'
JWT_REFRESH_SECRET_KEY=jwt_refresh_secret_key
JWT_REFRESH_EXPIRY_TIME='1d'

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_HOST=user_mysql
DB_PORT=3306
DB_NAME=microservice_user_app
DB_USER=root
DB_PASSWORD=microservice

DB_URL="mysql://root:microservice@user_mysql:3306/microservice_user_app?schema=public"

RABBITMQ_DEFAULT_USER=microservice_user
RABBITMQ_DEFAULT_PASS=microservice
RABBIT_MQ_URI=amqp://microservice_user:microservice@rabbitmq:5672

NOTIFICATION_APP_PORT=3002

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=